<h1>Your inbox</h1>

<h1>You have <%= unread_inbox_count %> new messages.</h1>

<h2>Sent Messages</h2>
  <% @sent_messages.each do |sent_message| %>
    <%= link_to [current_user,sent_message] do %>
      To: <%= sent_message.receiver.username%>
      --- <%= sent_message.content %>
    <% end %>
    <br>
  <% end %>

<h2>Received Messages</h2>
  <% @received_messages.each do |received_message| %>
    <%= link_to [current_user,received_message] do %>
      From: <%= received_message.sender.username %>
      --- <%= received_message.content %>
    <% end %>
    <br>
  <% end %>
