<%= javascript_include_tag 'session/login' %>

<div id="sign-up-form">

  <%= form_tag request_token_path(user_id: 0), id:'login-form' do %>
    <%= label_tag :username %>
    <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :username), id: 'login-username-selection', prompt: "" %>
    <%= submit_tag %>
  <% end %>
</div>
