<%= javascript_include_tag 'session/login' %>



<div class="sign-up-directions panel callout radius">

  Ready to login? Just start typing your username below!

</div>

<div id="sign-up-form">
  <%= form_tag request_token_path(user_id: 0), id:'login-form' do %>
    <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :username), id: 'login-username-selection', prompt: "" %>
    <br>
    <%= submit_tag "Do it!", class: "button expand" %>
  <% end %>
</div>


<div id="bottom-directions" class="sign-up-directions panel">

We'll send you an email with a special login link, click it and you're all set! No password to remember (even though we both know you  would've used '12345' anyway.).<br> (If this is too new age for you you're welcome to <%= link_to "Login with Twitter", '/auth/twitter', id: "twitter-login-link" %>)
<i class="fi-social-twitter"></i>
</div>
