<%= javascript_include_tag "listing_form" %>

<%= form_for [current_user, @listing] do |f| %>

  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2>Please correct the following <%= pluralize(@listing.errors.count, "error") %>:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.hidden_field :gender_id %>
  <% Gender.all.each do |gender| %>
    <div class="gender-select" id="gender-<%= gender.id %>" data-id="<%= gender.id %>">
    <%= gender.name %>
    </div>
  <% end %>

  <%= f.hidden_field :category_id %>


  <div id="womens-categories">
    <% categories = Category.where(gender_id: 1) %>
      <% categories.each do |category| %>
          <div class="category-select" id="<%= category.name %>-category" data-id="<%= category.id %> " >
            <%= category.name %>
            <%= image_tag category.icon %>
          </div>
      <% end %>
  </div>

  <div id="mens-categories">
    <% categories = Category.where(gender_id: 2) %>
      <% categories.each do |category| %>
          <div class="category-select" id="<%= category.name %>-category" data-id="<%= category.id %> " >
            <%= category.name %>
            <%= image_tag category.icon %>
          </div>
      <% end %>
  </div>




  </div>


  <div id="listing-form-product-info">

  <!-- callback_url: model_url, callback_param: "model[image_url]", id: "s3-uploader", max_file_size: 40.megabytes  --> -->

  <#%= s3_uploader_form id: "s3_uploader" do %>
  <#%= file_field_tag :file, multiple: true %>
  <#% end %>

  <div id="uploads_container">
    <%= f.file_field :photo %>
  </div>
  <br/>



  <#%= f.hidden_field :direct_upload_url %>


    <#%= f.hidden_field :photo_file_name %>
    <#%= f.hidden_field :photo_file_size %>
    <#%= f.hidden_field :photo_content_type %>

    <#%= f.hidden_field :photo_file_path %>

  <br/>

    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>

      <div id="brands">
        <div class="field">
        <%= f.label :brand_id %><br>
        <%= f.select :brand_id, options_from_collection_for_select(Brand.all, :id, :name) %>
      </div>
    </div>



    <% @standard_sizes = Size.retrieve_standard_sizes %>
    <% @jean_sizes = Size.retrieve_jean_sizes %>
    <% @bottoms_sizes = Size.retrieve_bottom_sizes %>

    <%= f.hidden_field :size_id %>
    <div id="size-box">
      Sizes:
      <div id="standard-sizes" class="size-display">
        <% @standard_sizes.each  do |size| %>
          <p class="size-select" data-id="<%= size.id %>">
            <%= size.label %>
          </p>
        <% end %>
      </div>

      <div id="jean-sizes" class="size-display">
        <% @jean_sizes.each  do |size| %>
          <p class="size-select" data-id="<%= size.id %>">
            <%= size.label %>
          </p>
        <% end %>
      </div>

      <div id="bottom-sizes" class="size-display">
        <% @bottoms_sizes.each  do |size| %>
          <p class="size-select" data-id="<%= size.id %>">
            <%= size.label %>
          </p>
        <% end %>
      </div>
    </div>





    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>

    <%= f.hidden_field :condition %>
    <% conditions = ["New with tags", "New without tags", "Like new", "Gently used"]%>
    <% conditions.each do |condition| %>
      <div data-name="<%=condition %>" class="condition-select" id="condition-<%= condition %>">
      <%= condition %>
      </div>
    <% end %>


    <div class="field">
      <%= f.label :original_price %><br>
      <%= f.number_field :original_price, placeholder: "(optional)" %>
    </div>

    <div class="field">
      <%= f.label :price %><br>
      <%= f.number_field :price %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div> <!-- end listing-form-product-info   -->
<% end %>
