
<%= form_for [current_user, @listing], :html => { :multipart => true } do |f| %>

  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2>Please correct the following <%= pluralize(@listing.errors.count, "error") %>:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% if params[:action] == 'new' || params[:action] == 'create' %>
      <%= javascript_include_tag "listing/new_listing_form.js" %>
      <%= render 'new_listing_top' , f: f %>
    <% else %>
      <%= javascript_include_tag "listing/edit_listing_form"%>
        <%  if @listing.asset.photo1.exists? %>
          <%= image_tag @listing.asset.photo1 %>
        <% end %>
        <%  if @listing.asset.photo2.exists? %>
          <%= image_tag @listing.asset.photo2 %>
        <% end %>
        <%  if @listing.asset.photo3.exists? %>
          <%= image_tag @listing.asset.photo3 %>
         <% end %>
      <h3>Current photos, replace?</h3>
    <% end %>

  </div>


  <div id="listing-form-product-info">

  <%= render 'assets/upload_photos', f: f %>


    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>

      <div id="brands">
        <div class="field">
        <%= f.label :brand_id %><br>
        <%= f.select :brand_id, options_from_collection_for_select(Brand.all, :id, :name) %>
      </div>
    </div>


  <% if params[:action] == 'new' || params[:action] == 'create' %>
    <%= f.hidden_field :size_id %>
    <div id="size-box">
      Sizes:
      <div id="standard-sizes" >
        <% @standard_sizes.each  do |size| %>
          <p class="size-select" data-id="<%= size.id %>">
            <%= size.label %>
          </p>
        <% end %>
      </div>

      <div id="jean-sizes" >
        <% @jean_sizes.each  do |size| %>
          <p class="size-select" data-id="<%= size.id %>">
            <%= size.label %>
          </p>
        <% end %>
      </div>

      <div id="bottom-sizes" >
        <% @bottoms_sizes.each  do |size| %>
          <p class="size-select" data-id="<%= size.id %>">
            <%= size.label %>
          </p>
        <% end %>
      </div>

      <div id="shoe-sizes" >
        <% @shoe_sizes.each  do |size| %>
          <p class="size-select" data-id="<%= size.id %>">
            <%= size.label %>
          </p>
        <% end %>
      </div>
    <% end %>


    </div>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description, maxlength: 500 %>
    </div>

    <%= f.hidden_field :condition %>
    <% Listing.conditions.each do |condition| %>
      <div data-name="<%=condition %>" class="condition-select" id="condition-<%= condition %>">
      <%= condition %>
      </div>
    <% end %>


    <div class="field">
      <%= f.label :original_price %><br>
      <%= f.number_field :original_price, placeholder: "(optional)" %>
    </div>

    <div class="field">
      <%= f.label :price %><br>
      <%= f.number_field :price %>
    </div>

    <div class="field">
      <%= f.label :tag_list, "Tags (comma separated)" %>
      <%= f.text_field :tag_list %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div> <!-- end listing-form-product-info   -->
<% end %>
