<%= f.hidden_field :gender_id %>
<% Gender.all.each do |gender| %>
  <div class="gender-select button" id="gender-<%= gender.id %>" data-id="<%= gender.id %>" data-name="<%= gender.name %>">
  <% if gender.name == "Female" %>
  "Women's"
  <% elsif gender.name == "Make" %>
  "Men's"
  <% end %>
  </div>
<% end %>

<%= f.hidden_field :category_id %>
<div id="womens-categories">
    <% womens_categories.each do |category| %>
        <div class="category-select womens button" id="<%= category.name %>-category" data-name="<%= category.name %>" data-id="<%= category.id %>" >
          <%= category.name %>
          <%= image_tag category.icon %>
        </div>
    <% end %>
</div>

<div id="mens-categories">
    <% mens_categories.each do |category| %>
        <div class="category-select mens button" id="<%= category.name %>-category" data-name="<%= category.name %>" data-id="<% category.id %>" >
          <%= category.name %>
          <%= image_tag category.icon %>
        </div>
    <% end %>
</div>
