
<h1>All Listings</h1>


<div id="search">
  <%= render 'searches/search' %>
</div>

  <% @listings.each do |listing| %>
    <%= link_to user_listing_path(listing.user, listing) do %>
      <div class="listing">
        <%= listing.title %>
        <%= image_tag listing.asset.photo1 %>
        Original:<%= listing.original_price %>
        $<%= listing.price %>
        <%= listing.discount %>% OFF
      </div>
    <% end %>
  <% end %>
