<h1>Your listings</h1>

<p>Note: You cannot edit or delete sold items.</p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Original price</th>
      <th>Price</th>
      <th>Status</th>
      <th>Condition</th>
      <th>Number of Pending Offers</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.description %></td>
        <td><%= listing.brand.name %></td>
        <td><%= listing.category.name %></td>
        <td><%= listing.original_price %></td>
        <td><%= listing.price %></td>
        <td><%= listing.status %></td>
        <td><%= listing.condition %></td>
        <% num_of_offers = Offer.num_of_pending_offers(listing) %>
        <% if num_of_offers > 0 %>
          <td><%= link_to num_of_offers, [@user,listing] %></td>
        <% else %>
          <td><%= num_of_offers %></td>
        <% end %>
        <td><%= link_to 'Show', [@user, listing] %></td>
        <% unless listing.has_been_sold %>
          <td><%= link_to 'Edit', edit_user_listing_path(@user,listing) %></td>
          <td><%= link_to 'Destroy', [@user, listing], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_user_listing_path(@user) %>
