<h1><%= @user.username%> listings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Original price</th>
      <th>Price</th>
      <th>Status</th>
      <th>Condition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.title %></td>
        <td><%= listing.description %></td>
        <td><%= listing.brand.name %></td>
        <td><%= listing.category.name %></td>
        <td><%= listing.original_price %></td>
        <td><%= listing.price %></td>
        <td><%= listing.status %></td>
        <td><%= listing.condition %></td>
        <td><%= link_to 'Show', [@user, listing] %></td>
        <td><%= link_to 'Edit', edit_user_listing_path(@user,listing) %></td>
        <td><%= link_to 'Destroy', [@user, listing], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_user_listing_path(@user) %>
