<p id="notice"><%= notice %></p>

<p>
  <%= link_to @listing.user.username, user_path(@listing.user)%>
</p>

<p>
  <strong>Brand:</strong>
  <%= @listing.brand.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @listing.category.name %>
</p>

  <%= image_tag @listing.photo.url %>

<p>
  <strong>Size:</strong>
  <%= @listing.size.label %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @listing.gender.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<% if @listing.sale_price %>
<p>
  <strong>Sale price:</strong>
  <%= @listing.sale_price %>
</p>
<% end %>

<p>
  <strong>Original price:</strong>
  <%= @listing.original_price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @listing.status %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>

<%= link_to 'Edit', edit_user_listing_path(@listing.user,@listing) %> |
<%= link_to 'Back', listings_path %>
