<%= javascript_include_tag 'message/message_show' %>
<%= javascript_include_tag 'listing/make_offer' %>


  <% if current_user == @listing.user %>
    <%= link_to 'Edit', edit_user_listing_path(@listing.user,@listing) %> |
    <%= button_to 'Delete', [@listing.user,@listing], method: :delete %>
  <% end %>

  <%#= button_to "Add to cart", user_listing_add_to_cart_path(@listing.user, @listing), remote: true %>


  <%= form_for [@listing.user, @purchase], multipart: true, url: {controller: 'purchases', action: 'add_to_cart'} do |f| %>
    <%= f.hidden_field :listing_id, value: @listing.id %>
    <%= f.hidden_field :seller_id, value: @listing.user.id %>
    <%= f.hidden_field :buyer_id, value: current_user.id %>
    <%= f.submit "Add to cart" %>
  <% end %>


  <div id="make-offer-button">
    Make Offer
  </div>

  <div id="make-offer-display">
    <%= form_for [@listing.user, @offer], url: {controller: 'offers', action: 'make_offer'} do |f| %>
      <%= f.hidden_field :listing_id, value: @listing.id %>
      <%= f.hidden_field :offerer_id, value: current_user.id %>
      <%= f.number_field :amount %>
      <%= f.submit "Submit" %>
    <% end %>
  </div>


<div id="user-closet-info">
  <%= link_to @listing.user.username + "'s closet", user_closet_path(@listing.user)%>
  <%= image_tag @listing.user.profile_photo %>
  <div id="message-user-from-listing-button">
    Message this user
  </div>
  <div id="message-user-from-listing-popout">
    <%= render 'messages/send_message_form', user: @listing.user, message: @message %>
  </div>
</div>


<p>
  <strong>Brand:</strong>
  <%= @listing.brand.name %>
</p>

  <% if @listing.discount %>
  <p>
    <strong>Discount:</strong>
    <%= @listing.discount %>
  </p>
  <% end %>

<p>
  <strong>Category:</strong>
  <%= @listing.category.name %>
</p>

  <%  if @listing.asset.photo1.exists? %>
    <%= image_tag @listing.asset.photo1 %>
  <% end %>
  <%  if @listing.asset.photo2.exists? %>
    <%= image_tag @listing.asset.photo2 %>
  <% end %>
  <%  if @listing.asset.photo3.exists? %>
    <%= image_tag @listing.asset.photo3 %>
   <% end %>

<p>
  <strong>Size:</strong>
  <%= @listing.size.label %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @listing.gender.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<% if @listing.sale_price %>
<p>
  <strong>Sale price:</strong>
  <%= @listing.sale_price %>
</p>
<% end %>

<p>
  <strong>Original price:</strong>
  <%= @listing.original_price %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Status:</strong>
  <%= @listing.status %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>
