<%= javascript_include_tag 'message/message_show' %>

  <div id="message-user-from-closet-button">
    Message this user
  </div>
  <div id="message-user-from-closet-popout">
    <%= render 'messages/send_message_form', user: @user, message: @message %>
  </div>



<h1><%= @user.username %>'s Closet</h1>

  <h1>Available Listings</h1>
  <div id="available-listings">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Brand</th>
          <th>Category</th>
          <th>Original price</th>
          <th>Price</th>
          <th>Status</th>
          <th>Condition</th>
        </tr>
      </thead>
    <br>
    <% @listings.each do |listing| %>
      <tbody>
        <tr>
          <%= link_to [@user,listing] do %>
            <td><%= listing.title %></td>
            <td><%= listing.description %></td>
            <td><%= listing.brand.name %></td>
            <td><%= listing.category.name %></td>
            <td><%= listing.original_price %></td>
            <td><%= listing.price %></td>
            <td><%= listing.status %></td>
            <td><%= listing.condition %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
  </table>
  </div>


  <h1>Sold Listings</h1>
  <div id="sold-listings">
  <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Brand</th>
          <th>Category</th>
          <th>Sale price</th>
          <th>Buyer</th>
        </tr>
      </thead>
    <br>
    <% @sales.each do |sold_listing| %>
      <tbody>
        <tr>
          <%= link_to [@user,sold_listing] do %>
            <td><%= sold_listing.title %></td>
            <td><%= sold_listing.brand.name %></td>
            <td><%= sold_listing.category.name %></td>
            <td><%= sold_listing.price %></td>
            <td><%= sold_listing.purchase.buyer.username %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
  </table>
  </div>




<br>

<%= link_to 'New Listing', new_user_listing_path(@user) %>
