<%= javascript_include_tag 'message/message_show' %>
<%= javascript_include_tag 'listing/user_closet' %>


  <% if current_user == @user %>
    <%= button_to 'Edit', edit_user_path(@user), method: :get %> |
    <%= button_to 'Delete Account', @user, method: :delete %>
  <% end %>

  <div id="user-info">
    <h1><%= @user.username %>'s Closet</h1>
    <%= image_tag @user.profile_photo %>
    <%= image_tag @user.bg_photo %>
  </div>

  <% unless current_user == @user %>
    <div id="message-user-from-closet-button">
      Message this user
    </div>

    <div id="message-user-from-closet-popout">
      <%= render 'messages/send_message_form', user: @user, message: @message %>
    </div>
  <% end %>

<div id="whole-closet">


    <br>
    <div id="available-listings-header" class="listing-header"><h4>Available Listings(<%= @listings.count %>) | </h4></div>
    <div id="sold-listings-header" class="listing-header"><h4>Sold Listings(<%= @sales.count %>)</h4></div>
    <br>
    <br>
    <div id="listing-display-box">
      <div id="available-listings">
        <% @listings.each do |listing| %>
          <%= link_to [@user,listing] do %>
            <div class="listing ">
                <div class="panel listing-basic-info">
                  <h6><%= listing.brand.name %><h6>
                  <h5><%= listing.title %><h5>
                </div>
                <%= image_tag listing.asset.photo1 %>
                <div class="panel listing-price-info">
                  <% if listing.original_price %>
                  <strike>$<%= listing.original_price %></strike>
                  <% end %>
                  $<%= listing.price %>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>



    <div id="sold-listings">
      <% unless @sales.exists? %>
      Looks like <%= @user.username %> hasn't sold anything yet! Maybe help 'em out and <%= link_to "buy something", user_closet_path(@user) %> ;)"
      <% else %>

        <% @sales.each do |sold_listing| %>
          <%= link_to [@user,sold_listing] do %>
            <div class="each-available-listing">
              <div class="listing">
                  <div class="panel listing-basic-info">
                    <h6><%= sold_listing.brand.name %><h6>
                    <h5><%= sold_listing.title %><h5>
                  </div>
                  <%= image_tag sold_listing.asset.photo1 %>
                  <div class="panel listing-price-info">
                    <% if sold_listing.original_price %>
                    <strike>$<%= sold_listing.original_price %></strike>
                    <% end %>
                    $<%= sold_listing.price %>
                  </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>
