<%= form_for @user, :html => { :multipart => true } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender_id, options_from_collection_for_select(Gender.all, :id, :name) %>
  </div>
  <div class="field">
    <% if current_user && @user.profile_photo %>
      Current Profile Photo:
      <br>
      <%= image_tag @user.profile_photo %>
    <% end %>
    <br>
    <%= f.label :profile_photo %>
    <%= f.file_field :profile_photo %>
  </div>
  <div class="field">
    <% if current_user && @user.bg_photo %>
      Current Background Photo:
      <br>
      <%= image_tag @user.bg_photo %>
    <% end %>
    <br>
    <%= f.label :background_photo %><br>
    <%= f.file_field :bg_photo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
