<%= javascript_include_tag 'message/message_show' %>

  <% if current_user == @user %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= button_to 'Delete Account', @user, method: :delete %>

  <% end %>

  <div id="user-info">
    <h1>
      <%= @user.username %>
      # of Sales: <%= @sales_count %>
    </h1>


    <p>
      <img class="user-profile-photo" src="<%= @user.profile_photo %>">
    </p>

    <p>
      <img class="user-bg-photo" src="<%= @user.bg_photo %>">
    </p>
    <br>
    <div id="message-user-from-profile-button">
      Message this user
    </div>
    <div id="message-user-from-profile-popout">
      <%= form_for [@user,@message] do |f| %>
        <%= f.hidden_field :receiver_id, value: @user.id %>
        <%= f.hidden_field :sender_id, value: current_user.id %>
        <%= f.text_field :content %>
        <%= f.submit "Send Message" %>
      <% end %>
    </div>
  </div>



  <div id="user_closet">
    <%= link_to @user.username + "'s closet", user_closet_path(@user) %>
      <% @user.listings.limit(5).each do |listing| %>
        <%= link_to user_listing_path(@user,listing) do %>
          <%= image_tag listing.asset.photo1 %>
          <%= listing.title %>
          $<%= listing.price %>
        <% end %>
      <% end %>
  </div>
