<div class="row">

<%= javascript_include_tag "checkout/checkout_cart.js" %>

<h1>Checkout</h1>

<div id="checkout-cart">


      <% @future_purchases.each do |purchase| %>
      <div class="future-purchase">
          <tr>
              <%= link_to [purchase.listing.user,purchase.listing] do %>
                <div class="listing ">
                    <div class="panel listing-basic-info checkout-basic-info">
                      <h6><%= purchase.listing.brand.name %><h6>
                      <h5><%= purchase.listing.title %><h5>
                        <%= link_to purchase.listing.user.username, purchase.listing.user, class:'cart-seller-info' %>
                    </div>
                    <%= image_tag purchase.listing.asset.photo1 %>
                    <div class="panel listing-price-info checkout-info">
                      <% if purchase.listing.original_price %>
                      <strike>$<%= purchase.listing.original_price %></strike>
                      <% end %>
                      $<%= purchase.listing.price %>
                      <%= button_to "Remove from cart", {action: 'destroy', id: purchase.id, controller: 'purchases'},id: "remove-from-cart", method: :delete %>
                    </div>
                </div>

              </tr>
                <% end %>
                <%= render '/charges/stripe_form', amount: purchase.listing.price, purchase: purchase  %>
            </div>
          <% end %>

</div>


<div id="checkout-buy">
  
</div>

</div>
