<h1>Listing listings</h1>

<table>
  <thead>
    <tr>
      <th>Seller</th>
      <th>Title</th>
      <th>Description</th>
      <th>Brand</th>
      <th>Category</th>
      <th>Original price</th>
      <th>Price</th>
      <th>Status</th>
      <th>Condition</th>
      <th>Sale price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>

          <td><%= link_to purchase.listing.user.username, purchase.listing.user %> </td>
          <%= link_to [purchase.listing.user,purchase.listing] do %>
          <td><%= purchase.listing.title %></td>
          <td><%= purchase.listing.description %></td>
          <td><%= purchase.listing.brand.name %></td>
          <td><%= purchase.listing.category.name %></td>
          <td><%= purchase.listing.original_price %></td>
          <td><%= purchase.listing.price %></td>
          <td><%= purchase.listing.status %></td>
          <td><%= purchase.listing.condition %></td>
          <td><%= purchase.listing.sale_price %></td>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing', new_user_listing_path(@user) %>
