<%= javascript_include_tag "checkout/checkout_cart.js" %>

<h1>Checkout</h1>

<div id="checkout-cart">


      <% @future_purchases.each do |purchase| %>
      <div class="future-purchase">
          <tr>
              <td><%= link_to purchase.listing.user.username, purchase.listing.user %> </td>
              <%= link_to [purchase.listing.user,purchase.listing] do %>
                <td><%= image_tag purchase.listing.asset.photo1 %></td>
                <td><%= purchase.listing.title %></td>
                <td><%= purchase.listing.description %></td>
                <td><%= purchase.listing.brand.name %></td>
                <td><%= purchase.listing.category.name %></td>
                <td><%= purchase.listing.original_price %></td>
                <td><%= purchase.listing.price %></td>
                <td><%= purchase.listing.status %></td>
                <td><%= purchase.listing.condition %></td>
              <% end %>
              <%= button_to "Remove from cart", {action: 'destroy', id: purchase.id, controller: 'purchases'}, method: :delete %>

        </tr>
      </div>
          <% end %>
</div>


<div id="checkout-buy">
</div>

<!--
<div id="stripe-checkout">
  <form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_5C3HNvIUA9Q3pgXhUW9lwgA6"
    data-amount="2000"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="/128x128.png">
  </script>
</form>
</div> -->
