<%= javascript_include_tag "checkout/checkout_cart.js" %>

<h1>Checkout</h1>

<div id="checkout-cart">


      <% @future_purchases.each do |purchase| %>
      <div class="future-purchase">
          <tr>
              <td><%= link_to purchase.listing.user.username, purchase.listing.user %> </td>
              <%= link_to [purchase.listing.user,purchase.listing] do %>
                <td><%= image_tag purchase.listing.asset.photo1 %></td>
                <td><%= purchase.listing.title %></td>
                <td><%= purchase.listing.description %></td>
                <td><%= purchase.listing.brand.name %></td>
                <td><%= purchase.listing.category.name %></td>
                <td><%= purchase.listing.original_price %></td>
                <td><%= purchase.listing.price %></td>
                <td><%= purchase.listing.status %></td>
                <td><%= purchase.listing.condition %></td>
              </tr>
                <% end %>
                <%= render '/charges/stripe_form', amount: purchase.listing.price, purchase: purchase  %>
              <%= button_to "Remove from cart", {action: 'destroy', id: purchase.id, controller: 'purchases'}, method: :delete %>
            </div>
          <% end %>

</div>


<div id="checkout-buy">
</div>
