<h1>Your purchases</h1>

<table>
  <thead>
    <tr>
      <th>Listing</th>
      <th>Seller</th>
      <th>Buyer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td>
        <%= image_tag purchase.listing.asset.photo1, width: '100' %>
        <%= purchase.listing.title %>
        </td>
        <td><%= purchase.seller.username %></td>
        <td><%= purchase.buyer.username %></td>
        <td><%= link_to 'Show', user_listing_path(purchase.listing.user, purchase.listing) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
