<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Clothography</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900,400italic' rel='stylesheet' type='text/css'>
  </head>

  <body>
<nav id='main-navbar'>

  <% unless current_user %>
    <a href=" <%= login_path %> "><li class='main-navbar-item'>Login</li></a>
  <% else %>
    <a href=" <%= search_listings_path %> "><li class='main-navbar-item'>Buy</li></a>
    <a href=" <%= new_user_listing_path(current_user) %> "><li class='main-navbar-item'>Sell</li></a>
    <a href=" <%= user_closet_path(current_user) %> "><li class='main-navbar-item'>Your Closet</li></a>
    <a href=" <%= user_messages_path(current_user) %> "><li class='main-navbar-item'>Messages</li></a>
    <a href=" <%= user_cart_path(current_user) %> "><li class='main-navbar-item'>Your Cart</li></a>
    <a href=" <%= logout_path %>"><li class='main-navbar-item'>Logout</li></a>
  <% end %>
</nav>


  <%= content_for :header %>
  <% if notice %>
  <p id="notice", class=" alert-box alert round"><%= notice %></p>
  <% end %>
  <%= yield %>



  </body>
</html>
